<div class="container">

	<div class="panel panel-success">
		<div class="panel-heading">
			<div class="clearfix">
				<h1 class="panel-title aw-titulo-panel">Pokemons Importados</h1>
			</div>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<table class="table table-bordered table-striped"
						style="margin-top: 10px">
						<thead>
							<tr>
								<th class="text-center col-md-1">Nome</th>
								<th class="text-center col-md-1">Caminho</th>
								<th class="text-center col-md-1">#</th>
							</tr>
						</thead>
						<tbody>
							<tr
								ng-repeat="poke in pokemons.results | filter:criterioDeBusca ">
								<td class="text-center" ng-model="pokemon.nome">{{poke.name
									| uppercase}}</td>
								<td class="text-center" ng-model="pokemon.url">{{poke.url
									}}</td>
								<td class="text-center"><input type="checkbox" name=""
									ng-model="selected" ng-checked="exist(poke)"
									ng-click="toggleSelection(poke)" /></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<button class="btn btn-success" ng-click="salvarPokemon()">Integrar</button>
		</div>
	</div>


</div>