<div class="container">
	<form>
		<div class="col-md-4 col-md-offset-4">
			<div class="form-group">
				<h2 class="text-center">
					Entre com seu email e senha</b>
				</h2>

				<input type="text" id="username" value="" required="true"
					maxlength="80" size="40" /> <i class="fa fa-envelope "
					style="margin-top: 10px"></i>
			</div>
			<div class="form-group ">
				<input type="password" maxlength="80" size="40" /> <i
					class="fa fa-lock" style="margin-top: 10px"></i>
			</div>
			<button class="btn btn-primary" align="center">Entrar</button>
			<br /> <a class="btn bt-link btn-xs" href="#"
				title="Esqueci minha senha" rel="tooltip" data-placement="top">Esqueci
				minha senha <span></span>
			</a> <a class="btn bt-link btn-xs" href="#" title="Esqueci minha senha"
				rel="tooltip" data-placement="top">Ainda não tenho cadastro<span></span>
			</a>
		</div>
	</form>
</div>
