<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-inverse bg-primary">
	<div class="container">
		<div href="#">
			<img alt="Aplicação" th:src="@{/images/brasil1.png}" width="55px"
				height="35px" /><a class="nav-link" href="#!/time">Cadastro
				Time</a><a class="nav-link" href="#!/treinadores">Cadastro Treinador</a><a
				class="nav-link" href="#!/pokemon">Importar Pokemons</a> <a
				class="nav-link" href="#!/habilidade">Importar Habilidades</a> <a
				class="nav-link" href="#!/pesquisaTimes">Manutenção de Times</a> <a
				class="nav-link" href="#!/login">Login</a>

		</div>
	</div>
</nav>
</html>